[submodule "mozilla-ca"]
	path = mozilla-ca
	url = https://github.com/Melati-Network/mozilla-ca.git
        branch = main

[submodule "melati-blockchain"]
	branch = main
[submodule "melati-blockchain-gui"]
	path = melati-blockchain-gui
	url = https://github.com/WarutaShinken/melati-blockchain-gui
